body {
   
}

.card {
    display: flex;
    position: relative;
    top: 170px;
    justify-content: space-evenly;
    width: 1200px;
    height: 120px;
    border: 1px solid rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    margin: auto;
    
}


.frame {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    /* justify-content: space-evenly; */
    border-right: 1px solid rgb(0, 0, 0);
    height: 100%;
}


.rolls {
    position: absolute;
    display: flex;
    border: 1px solid rgb(0, 0, 0);
    width: 58px;
    align-items: center;
    justify-content: center;
    height: 60px;
    left: -59px;
    top: -1px;
}



.roll {
    display: flex;
    margin-right: 50px;
}



.pins-container {
    position:relative;
    top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

} 

.pins button {
    position: relative;
    top: 20px;
    border: 1px solid rgb(255, 242, 242);
    height: 80px;
    width: 120px;
    font-size: 23;
}
