body {
   
}

.card-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;

}

.pins {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    position: relative;
    top: 170px;
    justify-content: space-evenly;
    width: 1200px;
    height: 120px;
    border: 1px solid rgb(0, 0, 0);
}

.frame {
    position: relative;
    border-left: 1px solid rgb(0, 0, 0);
    
}


.first-roll {
    position: absolute;
    border: 1px solid rgb(0, 0, 0);
    right: 0px;
    height: 60px;
    width: 58px;
    top: -1px;
    /* text-align: left; align text horizontally */
    /* line-height: 60px; */ 
} 

.second-roll {
    text-align: right; /* align text horizontally */
    line-height: 60px;
}


.pins-container {
    position:relative;
    top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

} 

.pins button {
    position: relative;
    top: 20px;
    border: 1px solid rgb(255, 242, 242);
    height: 80px;
    width: 120px;
    font-size: 23;
}
