body {
   
}

.card {
    display: flex;
    position: relative;
    top: 170px;
    justify-content: space-evenly;
    width: auto;
    height: 120px;
    border: 1px solid rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    margin: auto;
}

.frame-score {
    display: flex;
    position: relative;
    align-items: flex-end;
    width: 0px;
    right: 30px;
}


.frame {
    display: flex;
    position: relative;
    justify-content: center;
    border-right: 1px solid rgb(0, 0, 0);
    height: 100%;
    margin: 30px;
    width: auto;
}


.rolls {
    display: flex;
    position: relative;
    border: 1px solid rgb(0, 0, 0);
    top: -1px;
    left: 1px;
    
    width: 58px;
    align-items: center;
    justify-content: center;
    height: 60px;
    
}



.roll {
    display: flex;
    margin-right: 50px;
}



.pins-container {
    position:relative;
    top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

} 

.pins button {
    position: relative;
    top: 20px;
    border: 1px solid rgb(255, 242, 242);
    height: 80px;
    width: 120px;
    font-size: 23;
}
